<form class ="spacing" method="post" action="{{ path('chanson_delete', {'id': chanson.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette chanson ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chanson.id) }}">
    <button class="btn btn--radius-2 btn--red">Delete</button>
</form>
