* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url('https://images.unsplash.com/photo-1528489290689-444dece355b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

div {
    background-color: #ffffffc7;
    padding: 20px;
    margin: 15px;

}

.para1 {

}

.para2 {

}

.footer {
    margin-top: 100px;
    padding: 35px;
    background-color: #292929;
    visibility: hidden;
}