body{
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1520242739010-44e95bde329e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
}
.festi{
    color :white;
    margin-top: 50px;
}
