<form class="spacing" method="post" action="{{ path('chanteur_delete', {'id': chanteur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce chanteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chanteur.id) }}">
    <button class="btn btn--radius-2 btn--red">Supprimer</button>
</form>
