

{% block title %}Edit Chanteur{% endblock %}

{% block body %}
    <h1>Edit Chanteur</h1>

    {{ include('chanteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chanteur_index') }}">back to list</a>

    {{ include('chanteur/_delete_form.html.twig') }}
{% endblock %}
