<form class="spacing" method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce client ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn--radius-2 btn--red">Supprimer</button>
</form>
