{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="page-wrapper bg-gra-02 p-t-100 p-b-50 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h1 class="title">Programmer un chanteur à un festival</h1>

                    {{ include('chanteur_festival/_form.html.twig') }}
                </div>
            </div>
            <a class="go-back" href="{{ path('chanteur_festival_index') }}">⮜ Retour à la liste</a>
        </div>
    </div>
    
    <script src="{{ asset('js/myscript.js') }}"></script>
{% endblock %}
