{% extends 'base.html.twig' %}

{% block title %}New ChanteurFestival{% endblock %}

{% block body %}
    <h1>Create new ChanteurFestival</h1>

    {{ include('chanteur_festival/_form.html.twig') }}

    <a href="{{ path('chanteur_festival_index') }}">back to list</a>
{% endblock %}
