<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <!-- <link href="" rel="stylesheet" media="all"> -->
    </head>
    <body>
        <!-- Chanson -->
            <h2>
                <a href="{{path ('chanson_index')}}">Chanson</a>
            </h2>

            <h3>
                <a href="{{path ('chanson_new')}}"> Ajouter une chanson</a>
            </h3>

    </body>
</html>