<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href=" {{ asset('css/index.css')}}  ">
    </head>
    <body>
        {{ include('nav.html.twig')}}
            <div  class="para1">
                <p>
                <h1>
                    Bienvenue,
                </h1>
                <h2>
                    Ce site vous permet de vous inscrire à des festivals.
                    <br>
                    Vous pouvez modifier à souhait votre réservation.
                </h2>
                </p>
            </div>
    </body>
</html>