<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <!-- <link href="" rel="stylesheet" media="all"> -->
    </head>
    <body>
            <h1>
                Voulez vous vous inscrire en temps que chanteur ou client ? 
            </h1>
            <h3>
                <a href="{{path ('chanteur_festival_index')}}">Chanteur</a>
            </h3>
            
            <h3>
                <a href="{{path ('client_festival_index')}}">Client</a>
            </h3>
            

    </body>
</html>