<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <title>Index</title>
            <link rel="stylesheet" type="text/css" href=" {{ asset('css/inscriptionRapide.css')}}  ">
            <link rel="stylesheet" type="text/css" href=" {{ asset('css/indexEntite.css')}}  ">
        </head>
        <body>
            {{ include('nav.html.twig')}}
           
        <p class="festi">
            Bravo, vous vous êtes inscrits ! Formulaire validé 
        </p>

            
    </body>
    </html>


