<form class="spacing" method="post" action="{{ path('client_festival_delete', {'id': client_festival.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette assotiation entre client et festival ? (désinscription)');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client_festival.id) }}">
    <button class="btn btn--radius-2 btn--red">Supprimer</button>
</form>
